.mainnav {
 background: linear-gradient(90deg, #345084, #91abd1, #345084);
  }

.menulink {
    font-size:2rem;
}

.headerimage {
    padding-top: 1rem;
    padding-bottom: 2rem;
    background-color:#ffffff;
}

.mainheaderimage {
    padding-top: 10rem;
    padding-bottom: 2rem;
    background-color: rgb(255, 255, 255);
}

.mainheadertext {
    font-size: 2rem;
    font-weight: 400;
    line-height: 3rem;
    margin-bottom: 1rem;
    background-color: #ffffff;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    z-index: 1000;
}

.btntellme {
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1.8rem;
    font-weight: 700;
}


@media (min-width: 992px)
 {.mainheaderimage {
    padding-top: 10rem;
    padding-bottom: 6rem;
    background-color: rgb(255, 255, 255);
}
    .mainheadertext {
    padding-top: 10rem;
      font-size: 1.2rem;
      font-weight: 400;
      line-height: 2rem;
      margin-bottom: 2rem;
      background-color: #ffffff;
    }
    .btntellme {
        font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        font-size: 1.2rem;
        font-weight: 700;
    }
    
}

.service1 {
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: 2rem;
    font-weight: 400;
    line-height: 3rem;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.service1bg {
    background-color: #f5f5f5; 
}

.service1header {
    padding-bottom: 2rem;
    font-size: 2.4rem;
    font-weight: bolder;
    line-height: 3rem;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.service1text {
    padding-bottom: 5rem;
}

@media (min-width: 992px)
{.service1 {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.2rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color:#f5f5f5;
}
    .service1bg {
    padding-top: 5rem;
    background-color: #f5f5f5;
      font-size: 1.2rem;
      font-weight: 400;
      line-height: 2rem;
      margin-bottom: 2rem;

    }
    .service1header {
    padding-top: 1rem;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2rem;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
}

.footer {
    font-size: 1.2rem;
    padding-top:2rem;
    padding-bottom: 2rem;
}

@media (min-width: 992px) {
.footer {
    font-size: 0.8rem;
    padding-top:2rem;
    padding-bottom: 2rem;
}
}